.button-new-note {
  width: 100%;
  padding: 10px;

  display: flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;
  color: #FFFFFF;

  border: none;
  background-color: #58A6FF;

  margin-bottom: 10px;
}

.button-new-note:hover {
  background-color: #3894fe;
}