.menu--notes {
  min-width: 225px;
  height: 100vh;

  border-right: 2px solid #292929;
  background-color: #1E1E1E;
}

.menu--notes>.menu--title {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 22px;
  border-bottom: 2px solid #292929;
}

.menu--notes>.menu--button {
  width: 100%;

  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  text-transform: capitalize;
  padding: 20px 15px;
  color: var(--color-fg);
  text-align: left;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.15s ease-in-outs;

  outline: none;
  border: none;
  background-color: var(--color-bg);

}

.menu--notes>.menu--button>.menu--button-content {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.menu--button>.menu--button-total {
  color: rgba(255, 255, 255, .5);
  font-weight: 800;
}

.menu--notes>.menu--button:hover,
.menu--notes>.menu--active {
  color: var(--color-active-fg);
  background-color: var(--color-active-bg);
}

.menu--notes>.menu--button:hover .menu--button-total,
.menu--notes>.menu--active>.menu--button-total {
  color: var(--color-active-fg-alt)
}

.menu--notes>.menu--button .menuItem--add-button {
  color: rgba(255, 255, 255, .5);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  border: 1px solid transparent;
  border-radius: 100%;
  background-color: transparent;
}

.menu--notes>.menu--button .menuItem--add-button:hover {
  border-color: var(--color-active-fg-alt);
}

.menu--notes>.menu--button:hover .menuItem--add-button,
.menu--notes>.menu--active .menuItem--add-button {
  color: var(--color-active-fg-alt);
}