.controls--content {
  width: 100%;
  height: 40px;

  position: absolute;
  bottom: 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0 10px;

  background-color: #222831;
}

.controls--content>.control--change-name {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls--content>.control--change-name>label {
  margin-right: 5px;
}

.controls--content>.control--change-name>input {
  height: 40px;
  padding: 0 10px;

  font-size: 16px;

  outline: none;
  border: none;
  color: #EEEEEE;
  background-color: #222831;
}

.controls--content>.control--change-name>input:active {
  height: 39px;
  border-bottom: 1px solid #FFD369;
}

.controls--content>.control--change-name>input:focus {
  height: 39px;
  border-bottom: 1px solid #FFD369;
}

.controls--content>.actions {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.controls--content>.actions>.control--button {
  width: 40px;
  height: 40px;

  cursor: pointer;
  outline: none;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #EEEEEE;
  background-color: #222831;
}

.controls--content>.actions>.control--button:hover {
  color: #FFD369;
}

.icon--green {
  color: #008080 !important;
}